.books-sorting {
  border: 1px solid var(--primary);
  padding: 5px;
  height: 45px;
}

.books-sorting:focus {
  outline: none;
}

.pagination-buttons {
  margin: 0 auto 80px;
}

.pagination-buttons span {
  display: inline-block;
  border: 1px solid var(--primary);
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.pagination-buttons span:hover {
  background: var(--secondray);
  color: #fff;
}
