/* .vcenter-item{
    display: flex;
    align-items: center;
} */
/* Some custom styles to beautify this example */
/* .wrapper{
    background: #dbdfe5;
    min-height: 300px;
}
.box{
    padding: 25px;
    background: #abb1b8;
    width: 100%;
} */