.myButtonUp{
    color: #4D3BC6;
    background-color: #FFC107;
    cursor: not-allowed;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 10px;
    text-decoration: none;
}

.myButtonDel{
    color: #4D3BC6;
    background-color: #BB2D3B;
    cursor: not-allowed;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 10px;
    text-decoration: none;
}